@font-face {
  font-family: "Lato";
  src: url("~@/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
/* fonts.css */
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('~@/assets/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) for better compatibility */
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('~@/assets/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  /* Add other font formats (e.g., woff, woff2) for better compatibility */
}